[user]
	name = hu.fwh
	email = hu.fwh@alibaba-inc.com


[credential]
    helper = store

[alias]
    a = add
    b = branch
    c = commit
    co = checkout
    d = diff
    df = diff --stat
    l = log --pretty=format:'%Cblue%h %Cred%cD %Creset%cn %Cgreen%s%Creset' --date-order --graph
    f = fetch
    g = grep
    h = help
    i = init
    m = merge
    r = remote
    s = status --branch --short
    t = tag
    w = whatchanged

    lgb = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n' --abbrev-commit --date=relative --branches

    root = rev-parse --show-toplevel

[color]
    ui = always
    status = auto
    branch = auto
    interactive = auto
    diff = auto

[merge]
    tool = vimdiff

[push]
    default = upstream

[core]
	excludesfile = /Users/fwh/.gitignore_global
    editor = vim
    fileMode = false

# [http]
#     proxy = socks5://127.0.0.1:1080
# [https]
#     proxy = socks5://127.0.0.1:1080

